@font-face {
    font-family: DancingScript;
    src: url(../fonts/DancingScript-Regular.ttf);
}
@font-face {
    font-family: DancingScript-Bold;
    src: url(../fonts/DancingScript-Bold.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: HerrVonMuellerhoff;
    src: url(../fonts/HerrVonMuellerhoff-Regular.ttf);
}
@font-face {
    font-family: LibreBarcode39ExtendedText;
    src: url(../fonts/LibreBarcode39ExtendedText-Regular.ttf);
}
@font-face {
    font-family: Monoton;
    src: url(../fonts/Monoton-Regular.ttf);
}
@font-face {
    font-family: Sacramento;
    src: url(../fonts/Sacramento-Regular.ttf);
}
