#intro {
    height: 100vh;
    background: url("../images/backgrounds/solid1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.welcome {
    font-family: "Archivo Black", sans-serif;
    font-size: x-large;
}