nav {
    background-image: url("../images/backgrounds/topbg.png");
    background-size: cover;
    box-shadow: inset 0 -15px 15px -10px rgb(30,30,33);
}
body nav div div div a img {
    height: 40px;
}
#intro {
    padding-top: 12vh;
    min-height: 100vh;
    background-image: url("../images/backgrounds/IMG_3085.jpg") ;
    background-size: cover;
}
#about {
    padding-top: 30vh;
    min-height: 100vh;
    background-image: url("../images/backgrounds/blueripple.jpg");
    background-size: cover;
}
#about-header {
    position: absolute;
    width: 100%;
    top: 130vh;
    margin: 0;
}
#about img {
    border-radius: 8px;
    margin-bottom: 20px;
}
#about p {

    font-size: 24px;
    font-weight: bolder;
}

#portfolio {
    padding-top: 10vh;
    min-height: 100vh;
    background-image: url("../images/backgrounds/psy.png");
    background-size: cover;
}
 footer {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    z-index: 1;
    display: block;
    background-image: url("../images/backgrounds/topbg.png");
    background-size: cover;
    box-shadow: 0 -2px 3px 2px rgb(50, 50, 55);  
}
 footer ul {
    user-select: none;
}
 footer ul li {
    display: inline-block;
    height: 36px;
    width: 36px;
    border: 3px solid black;
    background-color: lightgray;
}
 footer ul li img {
    margin: 10%;
    height: 24px;
    width: 24px;
}
 footer h4 {
    color: lightgray;
    padding-bottom: 10px;
    font-size: 1em;
    margin: 0;
}
#portfolio a {
    text-decoration: none;
    color: whitesmoke;

}
#portfolio img {
    height: 200px;
    width: 400px;
    margin: 100px 0 10px 0;
}
.section-divider {
    background-color: #a7cbd5;
    height: 10px;
    box-shadow: inset 0 0 3px 1px rgb(30,30,33);
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 768px) {

}