body {

}

.portfolio-item {
    text-align: center;
}

.portfolio-item-btn {
    border: 4px solid black;
    border-radius: 100px;
    box-shadow: inset 0 0 40px 3px black;
    background-color: #ccc;
    background-image: repeating-linear-gradient(to right, rgba(180, 180, 180, 0.1) 10px, rgba(150, 150, 150, 0.2) 20px, rgba(100, 100, 100, 0.1) 30px, rgba(150, 150, 150, 0.2) 40px, rgba(130, 130, 130, 0.1) 50px);
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 20vh 0 0 0;
    padding: 20px;
    text-align: center;
    min-width: 500px;
}

.portfolio-item-btn:active {
    background-color: gray;
    border: 4px solid black;
    box-shadow: inset 0 0 30px 5px black;
    color: white;
}

.portfolio-item-btn:focus {
    outline: none;
}

.portfolio-item-img {
    border: 5px groove black;
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px black;
    display: block;
    margin: 30px;
}

.portfolio-item-text {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.portfolio-item-text:active {
    border: 1px solid whitesmoke;
}