body {}

.portfolio-item {
    text-align: center;
}

.portfolio-item-btn {
    border: 4px solid black;
    border-radius: 100px;
    box-shadow: inset 0 0 40px 3px black;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 20vh 0 0 0;
    padding: 20px;
    text-align: center;
    min-width: 500px;
}

.metal {
    background-color: #ccc;
    background-image: repeating-linear-gradient(to right, rgba(140, 140, 140, 0.2) 10px, rgba(120, 120, 120, 0.2) 20px, rgba(100, 100, 100, 0.2) 30px, rgba(120, 120, 120, 0.2) 40px, rgba(130, 130, 130, 0.2) 50px);
}

.portfolio-item-btn:active {
    background-color: gray;
    border: 4px solid black;
    box-shadow: inset 0 0 30px 5px black;
    color: white;
}

.portfolio-item-btn:focus {
    outline: none;
}

.portfolio-item-img {
    border: 5px groove black;
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px black;
    margin: 30px;
    width: 300px;
}

.portfolio-item-text {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px black;
    margin: auto;
    max-width: 50%;
    padding: 10px;
    text-align: center;
}