body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.9);
}

.flex-container {
    align-items: center;
    border: 3px solid rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    box-shadow: inset 0 0 5px 2px black;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #aaaba7;
    width: 50vw;

}

.portfolio-item {
    text-align: center;
    display: block;

}

.portfolio-item-btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    box-shadow: inset 0 0 40px 3px black;
    color: black;
    cursor: pointer;
    display: block;
    height: 300px;
    padding: 0;
    text-align: center;
    min-width: 300px;
}

.metal {
    background-color: #ccc;
    background-image: repeating-linear-gradient(to right, rgba(140, 140, 140, 0.2) 10px, rgba(120, 120, 120, 0.2) 20px, rgba(100, 100, 100, 0.2) 30px, rgba(120, 120, 120, 0.2) 40px, rgba(130, 130, 130, 0.2) 50px);
}

.portfolio-item-btn:active {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 30px 5px black;
    color: white;
}

.portfolio-item-btn:focus {
    outline: none;
}

.portfolio-item-img {
    border: 1px solid rgba(10, 10, 10, 0.7);
    border-radius: 20px;
    box-shadow: inset 0 0 8px 2px black;
    margin: 0;
    width: 180px;
}

.portfolio-item-text {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px black;
    margin: auto;
    max-width: 50%;
    padding: 10px;
    text-align: center;
}
.portfolio-nav {
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    border: none;

    color: rgba(200,200,200, 0.7);
    cursor: pointer;
    display: flex;
    font-size: 100px;
    height: 600px;
    justify-content: center;
    padding: auto;
    text-align: center;
    vertical-align: top;
    width: 15%;
}
.portfolio-nav:focus {
    outline: none;
}
.portfolio-nav:active {
    background-color: rgba(50,50,50, 0.4);
    color: rgba(30,30,30, 0.7);
}
.left {
    border-radius: 20px 0 0 20px;
}
.right {
    border-radius: 0 20px 20px 0;
}